.msg{
    background-image: url("./call_center.jpg");
    opacity: 0.8;
    background-size: cover;
    height: 100vh;
    padding-top: 10%;
    padding-right: 15%;
    padding-left:35% ; 
}

.box{
    position: relative; 
    /* padding : 50 px; */
    background: rgba(255, 255, 255, 0.3);
    /* padding-top: 15%; */
    
    width: fit-content;
}
